#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.2s;
}
a:hover {
  color: var(--hover-text-color);
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-between;
}

h1,
h3 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 1.25em;
}

h1:hover {
  color: var(--hover-text-color);
  text-decoration: underline;
}

h2 {
  color: var(--primary-color);
  font-size: 0.8em;
  font-weight: 550;
  text-align: right;
  margin: 0;
}

h3 {
  font-size: 2.7em;
  line-height: 1.15;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.5em;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid rgb(168, 168, 168);
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(168, 168, 168);
}

form {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.9em;
  font-style: italic;
  padding-top: 10px;
}

input {
  height: 30px;
}
article {
  width: 60vw;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article img {
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  filter: brightness(90%) contrast(85%);
}

section {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0px;
}

select {
  width: 150px;
  height: 20px;
  margin-left: 5px;
  margin-right: 10px;
}

.article-title-link-large:hover,
.article-title-link:hover {
  color: var(--hover-text-color);
  text-decoration: underline;
}

.user-icon {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  object-fit: cover;
  padding: 3px;
  margin-right: 5px;
  border: 1px solid var(--primary-color);
}

.error-message {
  color: rgb(197, 13, 13);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.875em;
  }
  .content-grid {
    grid-template-columns: 1fr;
  }

  /* .main-content,
  .featured-sidebar {
    grid-column: 1 / -1;
  } */

  .article-block {
    max-width: 100%;
  }
  .article-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 0.45em;
  }
  ul {
    margin: 0;
  }
  button {
    font-size: 0.5em;
    width: 20px;
    height: 15px;
  }
  input {
    height: 15px;
  }
  .comments-user-icon img {
    width: 5px;
    height: 5px;
    padding: 0px;
  }
  .article-block-small {
    padding: 15px;
    margin: 0;
    font-size: 0.7em;
  }
  .article-block-small img {
    width: 100px;
    height: 100px;
  }
  .user-icon img {
    width: 20px;
    height: 20px;
    padding: 3px;
  }
  .article-details-individual img {
    width: 20px;
    height: 20px;
    padding: 3px;
  }
  
}