#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}


.main-content {
  grid-column: 1 / 2;
}

.featured-sidebar {
  grid-column: 2 / 3;
  border-left: 1px solid #e0e0e0;
  border-radius: 0px;
  height: 650px;
}

.featured-article {
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.article-list {
  display: grid;
  gap: 2rem;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

body {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.2s;
}
a:hover {
  color: var(--hover-text-color);
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-between;
}

h1,
h3 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 1.25em;
}

h1:hover {
  color: var(--hover-text-color);
  text-decoration: underline;
}

h2 {
  color: var(--primary-color);
  font-size: 0.8em;
  font-weight: 550;
  text-align: right;
  margin: 0;
}

h3 {
  font-size: 2.7em;
  line-height: 1.15;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.5em;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid rgb(168, 168, 168);
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(168, 168, 168);
}

form {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.9em;
  font-style: italic;
  padding-top: 10px;
}

input {
  height: 30px;
}
article {
  width: 60vw;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article img {
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  filter: brightness(90%) contrast(85%);
}

section {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

p {
  margin-top: 0;
  margin-bottom: 0px;
}

.article-filter {
  margin: 0 0 1rem;
  padding: 1rem;

  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.article-filter label {
  font-weight: 600;
}

.article-filter select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

select {
  width: 150px;
  height: 20px;
  margin-left: 5px;
  margin-right: 10px;
}

.article-title-individual {
  text-align: center;
}

.article-details-individual {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.article-details-individual p {
  margin-right: 35px;
}

.author-date-individual {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.article-user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
  padding: 5px;
  border: 1px solid grey;
  margin: 0;
  margin-right: 15px;
}

.article-block {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 15px;
}
.article-block:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.article-block img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  max-width: 600px;
  margin-bottom: 15px;
  filter: contrast(150%) brightness(110%) saturate(0) grayscale(100%)
    blur(0.2px);
}
.article-block.featured img {
  height: 300px;
}
.article-block.featured {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.article-content {
  padding: 1rem;
}

.article-title-link {
  color: var(--text-color);
  text-decoration: none;
}

.article-title-link:hover {
  color: var(--hover-text-color);
}

.author-date {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topic {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 0.9em;
  margin-top: 0.5rem;
}

.article-stats {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 0.9em;
  margin-top: 0.5rem;
}

.topic-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  margin-top: 30px;
}

.article-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.article-vote-button {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.article-block-small {
  display: flex;
  flex-direction: row;
  justify-content: left;
  max-width: 50vw;
  margin-top: 30px;
  border-top: 0.25px solid rgb(168, 168, 168);
  padding-top: 50px;
  margin-bottom: 50px;
}

.article-block-small img {
  border-radius: 15px;
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  margin-bottom: 15px;
}

.article-title-link-large {
  color: Black;
  font-size: 1.15em;
  text-decoration: none;
  width: 50vw;
}
.article-title-link {
  font-size: 0.9em;
  color: black;
  text-decoration: none;
}
.article-title-link-large:hover,
.article-title-link:hover {
  color: var(--hover-text-color);
  text-decoration: underline;
}

.article-details-small {
  padding-left: 40px;
}

.comments-header {
  text-align: left;
  margin: 0;
  margin-top: 30px;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid rgb(173, 173, 173);
}

.comments-details {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  margin-top: 5px;
  margin-left: 10px;
}

.comments-votes-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.comments-user-icon {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  object-fit: cover;
  padding: 3px;
  border: 1px solid grey;
}

.comments-user-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comments-delete-button {
  margin: 0;
  background-color: transparent;
  font-size: 0.7em;
}
.comments-delete-button:hover {
  color: rgb(75, 46, 189);
  text-decoration: underline;
}

.comment-form {
  display: flex;
  flex-direction: column;
  color: rgb(75, 46, 189);
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: left;
}

.user-icon {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  object-fit: cover;
  padding: 3px;
  margin-right: 5px;
  border: 1px solid var(--primary-color);
}

.error-message {
  color: rgb(197, 13, 13);
}
.load-more {
  width: 500px;
}

.topic-page {
  margin-top: 0px;
}
.featured-sidebar {
  /* background-color: #f8f8f8; */
  padding: 1rem;
  border-radius: 0px;
}

.featured-sidebar h2 {
  margin-bottom: 1rem;
  font-size: 1.2em;
  color: var(--primary-color);
}

.featured-list {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
}

.featured-item {
  margin-bottom: 1rem;
}

.featured-link {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
}

.featured-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 0.5rem;
  filter: contrast(150%) brightness(110%) saturate(0) grayscale(100%)
    blur(0.2px);
}

.featured-content {
  flex-grow: 1;
}

.featured-content h4 {
  font-size: 0.9em;
  margin: 0 0 0.25rem 0;
}

.featured-author,
.featured-votes {
  font-size: 0.8em;
  color: #666;
  margin: 0;
}

.featured-votes {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.875em;
  }
  .content-grid {
    grid-template-columns: 1fr;
  }

  .main-content,
  .featured-sidebar {
    grid-column: 1 / -1;
  }

  .article-block {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 0.45em;
  }
  ul {
    margin: 0;
  }
  button {
    font-size: 0.5em;
    width: 20px;
    height: 15px;
  }
  input {
    height: 15px;
  }
  .comments-user-icon img {
    width: 5px;
    height: 5px;
    padding: 0px;
  }
  .article-block-small {
    padding: 15px;
    margin: 0;
    font-size: 0.7em;
  }
  .article-block-small img {
    width: 100px;
    height: 100px;
  }
  .user-icon img {
    width: 20px;
    height: 20px;
    padding: 3px;
  }
  .article-details-individual img {
    width: 20px;
    height: 20px;
    padding: 3px;
  }
}