:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.comment-button{
  margin-left: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 10px;
  padding: 0.6em 0.8em;
  width: 60px;
  height: 40px
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cdcae1;
  transition: border-color 0.25s;
}
button:hover {
  border: 1px solid #3b3f96;
}
button:disabled{
  pointer-events: none;
}
